/* Write your CSS code here */
.div-container {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.table-format {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 2px;
  border-width: 2px;
  border-color: #00e7ff;
}
.table-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back-div {
  border: 2px #00e7ff;
}
